# Setup

In [122]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import tensorflow as tf
from tensorflow import keras

## Pobranie danych

In [140]:
data = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv', sep=',')
dataPS4 = pd.read_csv('PS4_GamesSales.csv', sep=',', encoding='unicode_escape')
dataXbox = pd.read_csv('XboxOne_GameSales.csv', sep=',', encoding='unicode_escape')

data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
dataPS4

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [142]:
dataXbox

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43
...,...,...,...,...,...,...,...,...,...,...
608,609,Biomutant,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
609,610,Biomutant,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00
610,611,de Blob,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00
611,612,Outcast: Second Contact,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00

## Połączenie w jeden DataFrame

In [143]:
# usunięcie kolumny indeksów
dataXbox = dataXbox.drop('Pos', axis=1)

# dodanie informacji o platformie
dataPS4['Platform'] = 'PS4'
dataXbox['Platform'] = 'XOne'

In [144]:
additionalData = pd.concat([dataPS4, dataXbox])

In [145]:
print(data.columns)
print(additionalData.columns)

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')
Index(['Game', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global', 'Platform'],
      dtype='object')

In [146]:
# zamiana nazw kolumn na pasujące do data
additionalData.rename(
    columns = {'Game':'Name', 'Year':'Year_of_Release', 'North America' : 'NA_Sales', 'Europe' : 'EU_Sales',
               'Japan' : 'JP_Sales', 'Rest of World' : 'Other_Sales', 'Global' : 'Global_Sales' }, 
    inplace = True)

In [147]:
data = pd.concat([data, additionalData])

In [148]:
data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,Biomutant,XOne,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
609,Biomutant,XOne,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
610,de Blob,XOne,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
611,Outcast: Second Contact,XOne,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
612,Code Vein,XOne,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
# zapisanie połączonych danych w pliku
data.to_csv("merged_data.csv", index=False)

# Preprocessing

In [268]:
data = pd.read_csv('merged_data.csv', sep=',')
data

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18361,Biomutant,XOne,2018.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
18362,Biomutant,XOne,2019.0,Action,THQ Nordic,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
18363,de Blob,XOne,2017.0,Platform,THQ Nordic,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
18364,Outcast: Second Contact,XOne,2017.0,Adventure,Bigben Interactive,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
18365,Code Vein,XOne,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
def showMissing(dataFrame):
  percentMissing = []
  for column in dataFrame.columns:
    missing = dataFrame[column].isnull().sum()
    percentMissing.append( [ missing / dataFrame.shape[0], missing ])

  return pd.DataFrame(index=dataFrame.columns, data=percentMissing, columns=['% missing', 'nr of missing'])

In [270]:
showMissing(data)

                 % missing  nr of missing
Name              0.000109              2
Platform          0.000000              0
Year_of_Release   0.031907            586
Genre             0.000109              2
Publisher         0.020200            371
NA_Sales          0.000000              0
EU_Sales          0.000000              0
JP_Sales          0.000000              0
Other_Sales       0.000000              0
Global_Sales      0.000000              0
Critic_Score      0.556953          10229
Critic_Count      0.556953          10229
User_Score        0.586736          10776
User_Count        0.586736          10776
Developer         0.450289           8270
Rating            0.458238           8416

In [271]:
# dodanie kolumny Id dla wygodniejszego manipulowania danymi podczas preprocessingu
data['Id'] = range(0, data.shape[0])

## **Name**

In [272]:
# usunięcie wierszy bez nazwy
data = data[data.Name.notnull()]

In [273]:
showMissing(data)

                 % missing  nr of missing
Name              0.000000              0
Platform          0.000000              0
Year_of_Release   0.031910            586
Genre             0.000000              0
Publisher         0.020203            371
NA_Sales          0.000000              0
EU_Sales          0.000000              0
JP_Sales          0.000000              0
Other_Sales       0.000000              0
Global_Sales      0.000000              0
Critic_Score      0.556905          10227
Critic_Count      0.556905          10227
User_Score        0.586691          10774
User_Count        0.586691          10774
Developer         0.450229           8268
Rating            0.458179           8414
Id                0.000000              0

## **Platform / Genre / Publisher / Developer / Year of Release**

In [274]:
# przyjmowane wartości
for col in ['Platform', 'Genre', 'Publisher', 'Developer']:
  print(col, ": ")
  print(data[col].unique())

Platform :
['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' 'PS4' '3DS' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'WiiU' 'GC' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']
Genre :
['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy'
 'Action-Adventure' 'MMO' 'Music' 'Party' 'Visual Novel']
Publisher :
['Nintendo' 'Microsoft Game Studios' 'Take-Two Interactive'
 'Sony Computer Entertainment' 'Activision' 'Ubisoft' 'Bethesda Softworks'
 'Electronic Arts' 'Sega' 'SquareSoft' 'Atari' '505 Games' 'Capcom'
 'GT Interactive' 'Konami Digital Entertainment' 'Square Enix'
 'Sony Computer Entertainment Europe' 'Virgin Interactive' 'LucasArts'
 'Warner Bros. Interactive Entertainment' 'Universal Interactive'
 'Eidos Interactive' 'RedOctane' 'Vivendi Games' 'Enix Corporation'
 'Namco Bandai Games' 'Palcom' 'Hasbro Interactive' 'THQ'
 'Fox Interactive' 'Acclaim Entertainment' 'MTV Games'
 'Disney Interactive Studios' nan 'Codemasters' 'Majesco Entertainment'
 'Red Orb' 'Level 5' 'Arena Entertainment' 'Midway Games' 'JVC'
 'Deep Silver' 'NCSoft' '989 Studios' 'UEP Systems' 'Parker Bros.' 'Maxis'
 'Imagic' 'Tecmo Koei' 'ASCII Entertainment' 'Valve Software' 'Mindscape'
 'Infogrames' 'Unknown' 'Square' 'Valve' 'Banpresto' 'Hello Games'
 'D3Publisher' 'Activision Value' 'Oxygen Interactive'
 'Red Storm Entertainment' 'Video System' 'Global Star' 'Gotham Games'
 'Westwood Studios' 'GungHo' 'Crave Entertainment' 'Hudson Soft' 'Coleco'
 'Rising Star Games' 'TDK Mediactive' 'ASC Games' 'Accolade' 'Zoo Games'
 'Sony Oznline Entertainment' '3DO' 'Natsume' 'RTL' 'Alchemist'
 'Black Label Games' 'SouthPeak Games' 'Focus Home Interactive' 'Ocean'
 'Zoo Digital Publishing' 'Psygnosis' 'City Interactive'
 'Empire Interactive' 'Success' 'Compile' 'Russel' 'Atlus' 'Mastertronic'
 'Slightly Mad Studios' 'Taito' 'Agetec' 'Microprose' 'Play It' 'GSP'
 'Tomy Corporation' 'Sammy Corporation' 'Koch Media' 'Game Factory'
 'Titus' 'Marvelous Entertainment' 'Genki' 'Mojang' 'CTO SpA' 'TalonSoft'
 'Crystal Dynamics' 'Square Enix ' 'mixi, Inc' 'Pinnacle' 'SCi' 'Quelle'
 'Rage Software' 'Ubisoft Annecy' 'Interplay' 'Scholastic Inc.' 'Mystique'
 'ChunSoft' 'Square EA' '20th Century Fox Video Games'
 'Hudson Entertainment' 'Men-A-Vision' 'Nobilis' 'Avanquest Software'
 'Big Ben Interactive' 'Nordic Games' 'Touchstone' 'Spike'
 'Nippon Ichi Software' 'Sony Computer Entertainment America'
 'Jester Interactive' 'LEGO Media' 'Quest' 'Illusion Softworks'
 'Tigervision' 'Rocket Company' 'Metro 3D' 'Mattel Interactive'
 'IE Institute' 'Funbox Media' 'Sony Online Entertainment' 'Rondomedia'
 'Universal Gamex' 'Ghostlight' 'Wizard Video Games'
 'BMG Interactive Entertainment' 'PQube' 'Trion Worlds' 'Xseed Games'
 'Laguna' 'Takara' 'Ignition Entertainment' 'Kadokawa Shoten' 'Enterbrain'
 'Imagineer' 'CPG Products' 'System 3 Arcade Software' 'Aruze Corp'
 'Destineer' 'Gamebridge' 'Midas Interactive Entertainment' 'Jaleco'
 'Answer Software' 'Pack In Soft' 'XS Games' 'Rebellion' 'Ultravision'
 'Harmonix Music Systems' 'Activision Blizzard' 'Xplosiv' 'Wanadoo'
 'Telltale Games' 'NovaLogic' 'Epoch' 'BAM! Entertainment'
 'GameMill Entertainment' 'Knowledge Adventure' 'Tetris Online' 'Mastiff'
 'ESP' 'TYO' 'Telegames' 'Mud Duck Productions' 'Screenlife' 'Pioneer LDC'
 'Magical Company' 'Kemco' 'Mentor Interactive' 'Human Entertainment'
 'Data Age' 'Electronic Arts Victor' 'Jack of All Games' 'Avanquest'
 'Black Bean Games' '989 Sports' 'Takara Tomy' 'Media Rings' 'Elf'
 'Starfish' 'Zushi Games' 'Jorudan' 'Destination Software, Inc' 'New'
 'Brash Entertainment' 'Kalypso Media' 'ITT Family Games' 'Ackkstudios'
 'PopCap Games' 'Starpath Corp.' 'BPS' 'Gathering of Developers'
 'NewKidCo' 'Marvelous Interactive' 'Storm City Games' 'CokeM Interactive'
 'P2 Games' 'CBS Electronics' 'Home Entertainment Suppliers' 'Magix'
 'Arc System Works' 'Angel Studios' 'Wargaming.net' 'Playmates'
 'SNK Playmore' 'Hamster Corporation' 'From Software' 'Nippon Columbia'
 'Nichibutsu' 'Conspiracy Entertainment' 'Hect' 'Mumbo Jumbo'
 'DTP Entertainment' 'Pacific Century Cyber Works' 'Indie Games'
 'Liquid Games' 'NEC' 'Axela' 'ArtDink' 'Sunsoft' 'Little Orbit' 'FuRyu'
 'Gust' 'SNK' 'NEC Interchannel' 'Nihon Falcom Corporation'
 'Xing Entertainment' 'ValuSoft' 'Victor Interactive' 'American Softworks'
 'Falcom Corporation' 'Detn8 Games' 'Bomb' 'Nordcurrent'
 'Milestone S.r.l.' 'AQ Interactive' 'Sears' 'Seta Corporation'
 'On Demand' 'CCP' 'NCS' 'Rebellion Developments' 'Agatsuma Entertainment'
 'Gremlin Interactive Ltd' 'Aspyr' 'Compile Heart' 'Culture Brain'
 'Mad Catz' 'Shogakukan' 'Merscom LLC' 'JoWood Productions'
 'Nippon Telenet' 'TDK Core' 'Kadokawa Games' 'SSI' 'Foreign Media Games'
 'Core Design Ltd.' 'bitComposer Games' 'Astragon' 'Asylum Entertainment'
 'Performance Designed Products' 'UFO Interactive' 'Essential Games'
 'Adeline Software' 'Funcom' 'PlayV' 'Panther Software'
 'Blast! Entertainment Ltd' 'Playlogic Game Factory' 'DSI Games'
 'Avalon Interactive' 'Game Life' 'Popcorn Arcade' 'Aques' 'System 3'
 'Syscom' 'Vir2L Studios' 'Vatical Entertainment' 'Neko Entertainment'
 'White Park Bay Software' 'Vic Tokai' 'Media Factory' 'Daedalic'
 'Game Arts' 'The Adventure Company' 'EA Games' 'Acquire' 'Broccoli'
 'General Entertainment' 'Paradox Interactive' 'Yacht Club Games' 'Imadio'
 'Swing! Entertainment' 'Sony Music Entertainment' 'Aqua Plus'
 'Excalibur Publishing' 'Hip Interactive' 'Tripwire Interactive'
 'DreamCatcher Interactive' 'SCS Software' 'Havas Interactive' 'Sting'
 'Idea Factory' 'Telstar' 'U.S. Gold' 'Funsta' 'DreamWorks Interactive'
 'Slitherine Software' 'MTO' 'Graffiti' 'Tru Blu Entertainment'
 'DHM Interactive' 'Crytek' 'FunSoft' 'Data Design Interactive' 'SPS'
 'Moss' 'T&E Soft' 'NDA Productions' 'Bigben Interactive' 'Data East'
 'Idea Factory International' 'Time Warner Interactive'
 'Gainax Network Systems' 'Daito' 'O3 Entertainment' 'O-Games' 'Gameloft'
 'Xicat Interactive' 'Simon & Schuster Interactive' 'Valcon Games'
 'PopTop Software' 'TOHO' 'PM Studios' 'Bohemia Interactive'
 'Reef Entertainment' '5pb' 'HMH Interactive' 'inXile Entertainment'
 'Cave' 'Microids' 'Paon' 'CDV Software Entertainment' 'Micro Cabin'
 'GameTek' 'Benesse' 'Type-Moon' 'Enjoy Gaming ltd.' 'Asmik Corp'
 'Interplay Productions' 'Asmik Ace Entertainment' 'Image Epoch'
 'Phantom EFX' 'Evolved Games' 'responDESIGN' 'Griffin International'
 'Culture Publishers' 'Hackberry' 'Hearty Robin' 'Nippon Amuse'
 'Origin Systems' 'Seventh Chord' 'Abylight' 'Mitsui' 'Insomniac Games'
 'Flight-Plan' 'Milestone' 'Glams' 'Aksys Games' 'Locus' 'Warp'
 'Irem Software Engineering' 'Myelin Media' 'Global A Entertainment'
 'Alternative Software' 'Mercury Games' 'Sunrise Interactive' 'Elite'
 'Evolution Games' 'Daedalic Entertainment' 'Edia' 'Athena' 'Aria'
 'Tivola' 'Happinet' 'Tommo' 'Altron' 'Revolution Software' 'Media Works'
 'Fortyfive' 'Gamecock' 'Imax' '10TACLE Studios' 'Groove Games'
 'Pack-In-Video' 'Crimson Cow' 'iWin' 'Asgard' 'Ecole' 'Yumedia'
 'Ascaron Entertainment GmbH' 'HAL Laboratory' 'Phenomedia'
 'Grand Prix Games' 'DigiCube' 'Creative Core' 'Kaga Create'
 'WayForward Technologies' 'LSP Games' 'ASCII Media Works' '1C Company'
 'Coconuts Japan' 'Arika' 'Marvel Entertainment' 'Ertain' 'Prototype'
 'Phantagram' 'The Learning Company' 'TechnoSoft' 'MLB.com' 'Vap' 'Misawa'
 'Yeti' 'Dusenberry Martin Racing' 'Navarre Corp' 'Pow' 'MediaQuest'
 'Team17 Software' 'Max Five' 'Tradewest' 'Comfort' 'Milestone S.r.l'
 'Pony Canyon' 'Riverhillsoft' 'Summitsoft' 'Playmore' 'Kool Kizz'
 'Monte Christo Multimedia' 'TopWare Interactive' 'Legacy Interactive'
 'Cloud Imperium Games Corporation' 'Flashpoint Games' 'CyberFront'
 'Alawar Entertainment' 'Societa' 'Interchannel' 'Experience Inc.'
 'Sonnet' 'Virtual Play Games' 'Zenrin' 'Iceberg Interactive' 'Ivolgamus'
 'MC2 Entertainment' '2D Boy' 'Games Workshop' 'Kando Games'
 'Office Create' 'Maximum Family Games' 'Fields' 'Gearbox Software'
 'Princess Soft' 'Extreme Entertainment Group' 'Big Fish Games' 'Berkeley'
 'Mamba Games' 'Fuji' 'FuRyu Corporation' 'Her Interactive'
 'imageepoch Inc.' 'Just Flight' 'Kamui' 'ASK' 'Cygames'
 'Introversion Software' '49Games' 'KSS' 'dramatic create' 'TGL' 'KID'
 'Quinrose' 'Sold Out' 'Encore' 'G.Rev' 'Sunflowers' 'Headup Games'
 'Sweets' 'Kokopeli Digital Studios' 'id Software' 'Nexon' 'BushiRoad'
 'Devolver Digital' 'Number None' 'Tryfirst' 'GN Software' "Yuke's"
 'Strategy First' 'Lexicon Entertainment' 'Paon Corporation'
 'Kids Station' 'Licensed 4U' 'GOA' '7G//AMES' 'King Records'
 'Minato Station' 'Graphsim Entertainment' 'Easy Interactive' 'Gaga'
 'Yamasa Entertainment' 'Plenty' 'Views' 'Blue Byte' 'fonfun' 'NetRevo'
 'Epic Games' 'Quintet' 'Focus Multimedia' 'Phoenix Games'
 'Marvelous Games' 'Dorart' 'Codemasters Online' 'Stainless Games'
 'Aerosoft' 'Imageworks' 'Karin Entertainment' 'Technos Japan Corporation'
 'Masque Publishing' 'Gakken' 'New World Computing' 'Mirai Shounen'
 'Datam Polystar' 'HuneX' 'Visco' 'Saurus' 'Revolution (Japan)' 'Giza10'
 'Alvion' 'Giga' 'Mycom' 'Warashi' 'System Soft' 'RED Entertainment'
 'Lighthouse Interactive' 'Michaelsoft' 'Media Entertainment'
 'Genterprise' 'Interworks Unlimited, Inc.' 'Inti Creates' 'Boost On'
 'EON Digital Entertainment' 'Nitroplus' 'Naxat Soft' 'Piacci'
 'Paradox Development' 'Otomate' 'Ascaron Entertainment' 'Ongakukan'
 'Commseed' 'UIG Entertainment' 'Takuyo' 'Interchannel-Holon'
 'Red Flagship' 'Rockstar Games' 'EA Sports'
 'Sony Interactive Entertainment' 'Blizzard Entertainment'
 'Warner Bros. Interactive' '2K Sports' '2K Games' 'Bandai Namco Games'
 'Studio Wildcard' 'Gun Media' 'NIS America' 'THQ Nordic' 'Koei Tecmo'
 'Frontier Developments' 'Paradox InteractiveÊ' 'Ravenscourt'
 'Maximum Games' 'GameTrust' 'Grey Box' 'Gaijinworks' 'Badland Studio'
 'GameMill' 'Nicalis' 'Ready at Dawn' 'Soedesco' 'Team17 Digital Ltd'
 'Outright Games' 'Nighthawk Interactive' 'Techland' 'Merge Games'
 'Perp Games' 'Wired Productions' 'Sprite' 'Gunho Online Entertainment'
 'League of Geeks' 'Mediascape' 'M2' 'Active Gaming Media' 'Rain Games'
 'Team Meat' 'Thekla, Inc.' 'Entergram' 'DMM Games' 'Two Tribes'
 'Spike Chunsoft' 'Perfect World Entertainment' 'BioWare' 'Taleworlds'
 'CD Projekt Red Studio' 'Compulsion Games' 'FarSight Studios'
 'Futurlab 1' 'Nowhere Studios' 'Frictional Games' 'Renegade Kid'
 'Triniti Interactive' '3D Realms' 'Endnight Games LtdÊ' 'Versus Evil'
 'The Astronauts' 'Ice-pick Lodge' 'Double Damage Games' 'Wander MMO'
 'Sinxsoft' 'Bandai Namco Entertainment' 'Tammeka Games'
 'Microsoft Studios' '11 bit studios' 'Wizards of the Coast'
 'PlatinumGames' 'Triangle Service' 'Snail Game']
Developer :
['Nintendo' nan 'Good Science Studio' ... 'Big Red Software'
 'Atomic Games' 'Interchannel-Holon']

In [275]:
def complete(columnToComplete, columnToCompare):
  missing = data[ data[columnToComplete].isnull() ]['Id']

  for id in missing:
    compereValue = data.iloc[id][columnToCompare]
    instances = data[ data[columnToCompare] == compereValue ]
    instances = instances[ instances[columnToComplete].notnull() ]

    if instances.shape[0] > 0:
      data.at[id, columnToComplete] = instances.iloc[0][columnToComplete]

In [276]:
# uzupełnienie kolumny Publisher i Year of Release wartością z innej instancji o tej samej nazwie
complete('Publisher', 'Name')
complete('Year_of_Release', 'Name')

In [277]:
showMissing(data)

                 % missing  nr of missing
Name              0.000000              0
Platform          0.000000              0
Year_of_Release   0.010728            197
Genre             0.000000              0
Publisher         0.010455            192
NA_Sales          0.000000              0
EU_Sales          0.000000              0
JP_Sales          0.000000              0
Other_Sales       0.000000              0
Global_Sales      0.000000              0
Critic_Score      0.556905          10227
Critic_Count      0.556905          10227
User_Score        0.586691          10774
User_Count        0.586691          10774
Developer         0.450229           8268
Rating            0.458179           8414
Id                0.000000              0

In [278]:
# wiersze mające null w obu tych kolumnach
nullValues = data[ data['Year_of_Release'].isnull() ]
nullValues = nullValues[ nullValues['Publisher'].isnull() ]
nullValues.shape

(192, 17)

In [279]:
# wartości null w tych kolumnach się pokrywają, więc usuniecie missing data w tym miejscu nie wymaga usunięcia dużej ilości wierszy
data = data[ data.Publisher.notnull() ]
data = data[ data.Year_of_Release.notnull() ]

In [280]:
data.shape

(18167, 17)

In [281]:
showMissing(data)

                 % missing  nr of missing
Name              0.000000              0
Platform          0.000000              0
Year_of_Release   0.000000              0
Genre             0.000000              0
Publisher         0.000000              0
NA_Sales          0.000000              0
EU_Sales          0.000000              0
JP_Sales          0.000000              0
Other_Sales       0.000000              0
Global_Sales      0.000000              0
Critic_Score      0.552265          10033
Critic_Count      0.552265          10033
User_Score        0.582320          10579
User_Count        0.582320          10579
Developer         0.444432           8074
Rating            0.452469           8220
Id                0.000000              0

## **Sales**

sprzedaż w milionach sprzedanych jednostek \\


**kolumny:** \\
NA_Sales - North America \\
EU_Sales - Europe \\
JP_Sales - Japan \\
Other_Sales \\
Global_Sales

In [282]:
# usunięcie Global_Sales bo jest sumą reszty kolumn sprzedaży
data = data.drop('Global_Sales', axis=1)

## **Reviews**

Data from Metacritic. There are missing observations as Metacritic only covers a subset of the platforms.

Critic_Score - **weighted** average of critic scores, 0-100
Critic_Count \\
User_Score - 0-1 \\
User_Count - number of users who gave the userscore

| General Meaning of Score |	Game Score |
| :-: | :-: |
| Universal Acclaim	| 90 - 100 |
| Generally Favorable Reviews	| 75 - 89 |
| Mixed or Average Reviews | 50 - 74 |
| Generally Unfavorable Reviews |	20 - 49 |
| Overwhelming Dislike | 0 - 19 |

In [283]:
# przeskalowanie Critic_Score do przedziału [0, 1]
data['Critic_Score'] = data['Critic_Score']/100

##**Ratings**

Entertainment Software Rating Board (ESRB): \\

| shortcut | description |
| :-: |:-- |
| RP | Rating Pending |
| E | Everyone (przed 1998 oznaczany K-A (kids to adults)) |
| E10+ | Everyone 10+ |
| T | Teen |
| M | Mature |
| AO | Adults Only |
| EC | Early Childhood (nie używane od 2018) |

In [284]:
print(data['Rating'].unique())

['E' nan 'M' 'T' 'E10+' 'K-A' 'AO' 'EC' 'RP']

In [285]:
# zamiana ratingu K-A na E, bo znaczą to samo
data['Rating'] = data['Rating'].replace('K-A', 'E')

## Zapisanie danych

In [286]:
# usunięcie wiersza id
data = data.drop('Id', axis=1)

In [287]:
showMissing(data)

                 % missing  nr of missing
Name              0.000000              0
Platform          0.000000              0
Year_of_Release   0.000000              0
Genre             0.000000              0
Publisher         0.000000              0
NA_Sales          0.000000              0
EU_Sales          0.000000              0
JP_Sales          0.000000              0
Other_Sales       0.000000              0
Critic_Score      0.552265          10033
Critic_Count      0.552265          10033
User_Score        0.582320          10579
User_Count        0.582320          10579
Developer         0.444432           8074
Rating            0.452469           8220

Zapisanie osobno danych z wartościami w kolumnach po Critic_Score i bez nich

In [288]:
# dane z większą ilością kolumn i mniejszą ilością wierszy
columns = ['Rating', 'Developer', 'User_Count', 'User_Score', 'Critic_Count', 'Critic_Score']
dataExtended = data
for column in columns:
  dataExtended = dataExtended[ dataExtended[column].notnull() ]

showMissing(dataExtended)

                 % missing  nr of missing
Name                   0.0              0
Platform               0.0              0
Year_of_Release        0.0              0
Genre                  0.0              0
Publisher              0.0              0
NA_Sales               0.0              0
EU_Sales               0.0              0
JP_Sales               0.0              0
Other_Sales            0.0              0
Critic_Score           0.0              0
Critic_Count           0.0              0
User_Score             0.0              0
User_Count             0.0              0
Developer              0.0              0
Rating                 0.0              0

In [289]:
dataExtended.shape

(6945, 15)

In [290]:
# dane z większą ilością wierszy, mniejszą ilością kolumn
dataCut = data[ ['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales'] ]

showMissing(dataCut)

                 % missing  nr of missing
Name                   0.0              0
Platform               0.0              0
Year_of_Release        0.0              0
Genre                  0.0              0
Publisher              0.0              0
NA_Sales               0.0              0
EU_Sales               0.0              0
JP_Sales               0.0              0
Other_Sales            0.0              0

In [291]:
dataCut.shape

(18167, 9)

In [292]:
# zapisanie do plików
dataExtended.to_csv("processedDataExtended.csv", index=False)
dataCut.to_csv("processedDataCut.csv", index=False)

# Analiza danych

In [293]:
dataExt = pd.read_csv('processedDataExtended.csv', sep=',')
dataCut = pd.read_csv('processedDataCut.csv', sep=',')